.orderContainer{
    max-width: 100%;

}


ul {
 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    max-width: 100%;

}

.order {
    border-width: 2px;
    border-style: double;
    width: 30%;
    color: #213547;
    
}

.order:hover{
    color: white;
}

.detail ul{
    list-style: circle;
    display:inline-block
}




