.orderContainer{
    max-width: 100%;
    margin:auto;
    justify-content: center;

}


ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    max-width: 100%;

}

.order {
    border-width: 2px;
    border-style: double;
    width: 30%;
    color: white; 
    
}

.order:hover{
    color: lightcoral;
}

.detail{
    list-style: circle;
}




