.partContainer{
    max-width: 100%;

}


ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    max-width: 100%;

}

.part {
    border-width: 2px;
    border-style: double;
    width: 30%;
    color: white;
    
}

.part:hover{
    color: #213547;
}

.newPartForm{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.newPartForm input{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 60%;
}

.newPartForm select{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 72%;
}



