.partContainer{
    max-width: 80%;
}

ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    max-width: 100%;
}

.part {
    border-width: 2px;
    border-style: solid;
    border-radius:10px;
    width: 20%;
    min-width: 250px;
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.part:hover{
    color: var(--tertiary);
}

.newPartForm{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 40%;
}

.newPartForm input{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 100%;
}

.newPartForm select{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 72%;
}

.partDetail{
    margin:auto;
    justify-content: center;
    width: 60%;
}

.detailOrderList{
    list-style: none;
    display:flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    padding:0;
}

.detailOrderList .listItem {
    border-width: 2px;
    border-style: double;
    width: 100%;
    color: white;
}



