.orderContainer{
    max-width: 100%;

}


ul {
 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    max-width: 100%;

}

.order {
    border-width: 2px;
    border-style: double;
    width: 30%;
    color: white;
    
}

.order:hover{
    color: #213547;
}

.detailItemList ul{
    list-style:square;
    display:flex;
    width:60%;
    border: 1px double white;
    margin: auto;
    padding:0;
}

.item {
    display:flex;
    justify-content: space-around;
    gap: 5%;
    border-top: 2px double white;
    width:100%;

}


.newOrderForm{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 50%;
}

.newOrderForm input{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
}




