.orderContainer{
    max-width: 80%;
    margin: auto;
}

ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0;
    max-width: 100%;
    padding: 0;
}

.order {
    border-width: 2px;
    border-style: solid;
    border-radius:10px;
    width: 20%;
    min-width: 250px;
    color: white;
    text-decoration: none;
}

.order:hover{
    color: var(--tertiary);
}

.detailItemList ul{
    list-style:square;
    display:flex;
    width:100%;
    border: 1px solid white;
    margin: auto;
    padding:0;
}

.itemHeader {
    display:flex;
    justify-content: space-around;
    width:72%;
    margin-right:28%;
}

.item {
    display:flex;
    justify-content: space-around;
    gap: 5%;
    border-top: 2px double white;
    width:100%;
}

.itemInfo {
    display:flex;
    justify-content: space-around;
    gap: 5%;
    width:80%;
}

.newItemForm {
    display: flex;
    flex-wrap: wrap;
    padding:5%;
    gap:2%;
    justify-content: center;
    justify-items: baseline;
}

.newItemForm input {
    padding:5%;
    border-radius: 10px;
}

.newItemForm select {
    padding:2%;
    border-radius: 10px;
}

.newItemForm .buttons {
    padding:0;
    display:flex;
}

.newOrderForm{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 50%;
}

.newOrderForm input{
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 5%;
    
}

.symbol {
    font-size: 2em;
    line-height: 1.1;
    color: white;
    margin:auto 0;
    width:10%;
}

.symbol:hover {
    cursor: pointer;
}

.orderDisplay{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .orderDisplay{
        flex-direction: row;
    }  
}







